---
import type { BlogPost } from "../types/BlogPost";

const matches = import.meta.glob('../blog/*.mdx', { eager: true });
const posts = Object.values(matches) as BlogPost[];
---

{posts.map(post => <p>{post.title}</p>)}